html_files
json_files

html_files_2
json_files_2

cmc_parsed_files
coingecko_parsed_files

html_files_trial
json_files_trial

trialcmcaprequest.py
trialcoingeckorequest.py
trialparse.py
trialparse2.py
trialparse3.py
untitled.py

cmcap_request.py
coingecko_request.py

deep_link_html
